.fixed-top {
     position: relative !important; 
     z-index: 1 !important; 
}

.nav-item{
    width: 100%;
    }
    
    .pmd-sidebar.pmd-sidebar-open{
        z-index: 5;
    }
    
.side-dropdown{
    width: 100%;
}    

.dropdown-relative{
    position: relative!important;
    top: -45px!important;
}

.navbar-brand img {
    width: 100px;
}