

.welcome-image{
    width: 100%;
    height: 500px;
    margin: auto;
    background-image: url('/site-images/Homepage-Banner.jpg');
      /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;


    /* This is what makes the background image rescale based
        on the container's size */
    background-size: cover;
}

/* .welcome-image img{
    width: 100%;
} */

.col-md-3{
    margin-top: 35px;
}

.myRow{
    display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

.welcome-shop{
    width: 70%;
    margin: 50px auto;
}

.shop-product p{
    font-family: Fira Sans;
    color: #404040;
    font-size: 27px;
    font-weight: bold;
}

.box-container {
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.box1-img-holder {
    background: url('/site-images/T-Shirts2-600x460px.jpg');
}

.box2-img-holder {
    background: url('/site-images/Phone-Cases-600x460px.jpg');
}

.box3-img-holder {
    background: url('/site-images/FaceMasks-600x460px.jpg');
}

.box4-img-holder {
    background: url('/site-images/Mugs-600x460px.jpg');
}

.box5-img-holder {
    background: url('/site-images/Coasters-600x460px.jpg');
}

.box6-img-holder {
    background: url('/site-images/Wall-watches-600x460px.jpg');
}

.box7-img-holder {
    background: url('/site-images/Tote-Bags-600x460px.jpg');
}

.box8-img-holder {
    background: url('/site-images/Magnets-600x460px.jpg');
}

.box9-img-holder {
    background: url('/site-images/129.png');
}

.box10-img-holder {
    background: url('/site-images/Gifts for him-600x460px copy.jpg');
}

.box11-img-holder {
    background: url('/site-images/Gifts for her-600x460px copy.jpg');
}

.box1-img-holder ,
.box2-img-holder ,
.box3-img-holder,
.box4-img-holder,
.box5-img-holder,
.box6-img-holder,
.box7-img-holder,
.box8-img-holder,
.box9-img-holder {
    width: 100%;
    height: 235px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.box10-img-holder,
.box11-img-holder {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.box1-img-holder:hover,
.box2-img-holder:hover,
.box3-img-holder:hover,
.box4-img-holder:hover,
.box5-img-holder:hover,
.box6-img-holder:hover,
.box7-img-holder:hover,
.box8-img-holder:hover,
.box9-img-holder:hover,
.box10-img-holder:hover,
.box11-img-holder:hover {
    transform: scale(1.1);
}

.box-container button {
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 2px 15px;
    background: white;
    color: #404040;

    margin: auto;
    position: absolute;
    left: 0;
    bottom: 15px;
    right: 0;
}

.site-quality{
    display: flex;
    margin: 40px auto;
}

.site-box{
    align-items: center;
    display: flex;
}

.site-box p{
    margin-bottom: 0px;
    font-family: Fira Sans;
}

.bold{
    font-size: 15px;
    font: bold;
    font-weight: bold;
}

.site-quality-icon img{
    width: 70%;
}

.site-quality-text{
    width: 70%;
    font-size: 14px;
}

.site-quality-text .bold{
    font-size: 15px;
    font: bold;
    font-weight: bold;
}


#male{
    width: 20px;
    height: 31px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#female{
    width: 18px;
    height: 22px;
    position: absolute;
    top: 16px;
    left: 10px;
}

.accessories{
    margin-top: 50px;
}

.accessories p{
    font-family: Fira Sans;
    color: #404040;
    font-size: 27px;
    font-weight: bold;
}

.row img{
 width: 100%;
}

.my-main-div{
    width: 90%;
    margin: auto;
}


.myContainer{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    }

#second-row {
    margin-top: 20px;
}

.about-urban {
    width: 100%;
    height: 300px;
    background: #231F20;
    padding: 50px;
    margin-bottom: 100px;
}

.about-urban-box {
    display: flex;
    width: 70%;
    height: 300px;
    margin: auto;
    justify-content: space-around;
    background: white;
    text-align: center;
    box-shadow: 0px 10px 20px #0000000D;
}

.about-urban-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-urban-box img {
    width: 70px;
    margin-bottom: 40px;
}

.about-urban-box h6 {
    color: #404040;
}

.about-urban-box p {
    color: #8B8B8B;
    font-size: 12px;
}

.about-urban-box a {
    color: #404040;
    text-decoration:none;
    font-size: 14px;
}

.subscribe {
    width: 100%;
}

.subscribe-box {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.subscribe-info {
    display:flex;
    align-items: center;
}

.subscribe-info img {
    width:80px;
}

.subscribe-info h5{
    padding: 0 20px;
    color: #E7667C;
    font-size: 26px;
}

#submit-image {
    width: 30px;
}

.subscribe form {
    padding: 20px 0;
    display: flex;
}

#subscribe-email {
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    width: 400px;
    padding: 0 10px;
    margin: 20 10px;
    font-size: 14px;
}

.subscribe-bottom {
    border-top: 2px solid #404040;
}

.subscribe-bottom div {
    display: flex;
    justify-content: flex-end;
}

.subscribe-bottom div p {
    padding-top: 10px;
    padding-right: 30px;
    color: #404040;
    font-weight: 600;
    font-size: 14px;
}


.products-title {
    margin-top: 50px;
}

.product {
    width:100%;
    margin-top: 30px;
}

.product a {
    color: inherit;
}

.product img {
    width: 100%;
}

.product p {
    margin-bottom: 0;
}

.slick-prev {
    font-size: 0;
    position: absolute;
    top: 370px;
    left: -32px;
}

.left-arrow {
    width: 30px;
    cursor: pointer;
    z-index: 9;
}

.right-arrow {
    width: 30px;
    cursor: pointer;
    z-index: 9;
}

.slick-next {
    position: absolute;
    right: -32px;
    bottom: 350px;
}

/*     .right-arrow > .slick-next {
        position: absolute;

    } */

.slick-slide, .slick-slide div {
    outline: none;
}

.slick-disabled{
    display: none !important;
}
/*
.slide-item {
	background-color: rebeccapurple;
	color: aqua;
	display: flex !important;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 200px;
	border: 1px solid white;
}
 */


.img-div{
    display: inline-block;
    overflow: hidden;
    height: 270px;
    border-radius: 5px;
}

.img-div img {
    display: block;
    transition: transform .4s;
    transform: scale(2.0);
    margin-top: 24.125%;
    margin-bottom: -54%;
}

.img-div:hover img {
    transform: scale(2.2);
    transform-origin: 50% 50%;
}

/* .img-div-phone{
    display: inline-block;
    overflow: hidden;
} */

.img-div-phone {
    transform: scale(1.2)!important;
    margin-top: 10.125%!important;
}

.img-div-phone:hover  {
    transform: scale(1.4)!important;
    transform-origin: 50% 50%!important;
}

.img-div-mugs {
    transform: scale(1.5)!important;
    margin-top: 8.125%!important;
}

.img-div-mugs:hover  {
    transform: scale(1.7)!important;
    transform-origin: 50% 50%!important;
}


.img-div-pictures {
    transform: scale(1.2)!important;
    margin-top: 8.125%!important;
}

.img-div-wallpapers {
    transform: scale(1.7)!important;
    margin-top: 21.125%!important;
}

.img-div-wallpapers:hover  {
    transform: scale(1.9)!important;
    transform-origin: 50% 50%!important;
}

.img-div-pictures:hover  {
    transform: scale(1.4)!important;
    transform-origin: 50% 50%!important;
}

.img-div-makeup {
    transform: scale(2.5)!important;
    margin-top: 21.125%!important;
}

.img-div-makeup:hover  {
    transform: scale(2.8)!important;
    transform-origin: 50% 50%!important;
}

.img-div-thermos {
    height:70%;
    transform: scale(1.5)!important;
    margin-top: 16.125%!important;
}

.img-div-thermos:hover  {
    transform: scale(1.7)!important;
    transform-origin: 50% 50%!important;
}

.design-image {
    width: 200px;height:200px
}


.img-div-notebooks {
    transform: scale(2.4)!important;
    margin-top: 4.125%!important;
}

.img-div-notebooks:hover  {
    transform: scale(2.6)!important;
    transform-origin: 50% 50%!important;
}

.img-div-masks {
    transform: scale(2.0)!important;
    margin-top: 9.125%!important;
}

.img-div-masks:hover {
    transform: scale(2.2) !important;
}

.img-div-gift-bags {
    transform: scale(2.2)!important;
    margin-top: 0.125%!important;
}

.img-div-gift-bags:hover {
    transform: scale(2.4) !important;
}

.product-name {
    font-weight: bold;
}

.product-category {
    color: #8B8B8B;
    font-size: 14px;
}

.slick-list {margin: 0 -5px;}
.slick-slide>div {padding: 0 5px;}

.product-cat {
    width: 280px;
}

.img-div-cat {
    width: 270px;
    margin: 10px;
}

#gift-left {
    top:90px;
}

#gift-right {
    right: 0px;
    bottom: 200px
}

@media (max-width: 1500px) {
    .img-div {
        height: 225px;
    }

    .img-div-cat {
        width: 220px;
    }

    .product-cat {
        width: 250px;
    }
    .welcome-image {
        height: 420px;
    }

    .slick-next {
        bottom: 46%;
    }
    .slick-prev {
        top: 50%;
    }
}

/* @media (max-width: 1255px) {
    .img-div {
        height: 215px;
    }
} */


@media (max-width: 1200px) {
    .box1-img-holder,
    .box2-img-holder,
    .box3-img-holder,
    .box4-img-holder,
    .box5-img-holder,
    .box6-img-holder,
    .box7-img-holder,
    .box8-img-holder,
    .box9-img-holder,
    .box10-img-holder,
    .box11-img-holder {
        height: 197px;
    }
    .site-quality{
        flex-direction: column;
    }

    .site-box {
        margin: 10px 0;
        justify-content: flex-end;
    }

    .welcome-shop {
         width: 100%;
    }
    .spcial-price-row {
        width: 95%;
        margin: auto;
    }

 
 }


@media (max-width: 940px) {
    .jumbotron {
        display: none;
    }

    .box1-img-holder,
    .box2-img-holder,
    .box3-img-holder,
    .box4-img-holder,
    .box5-img-holder,
    .box6-img-holder,
    .box7-img-holder,
    .box8-img-holder,
    .box9-img-holder,
    .box10-img-holder,
    .box11-img-holder  {
       height: 166px;
   }

   #mySideNav{
       display: block!important;
   }
   #pmd-main{
       display: block!important;
   }

   #myNavbar{
       display: none!important;
   }
   .spcial-price-row {
    width: 93%;
    margin: auto;
}
    .img-div {
        height: 220px;
    }
}

 @media (max-width: 767px) {
     
.welcome-image{

    background-image: url('/site-images/Finished-Banner-Mobile.jpg');

}

    .my-main-div {
         width: 100%;
    }

    #box3, #box6, #box9 {
        margin-top: 10px;
    }
    .welcome-shop {
        width: 100%;
    }

    .product {
        width:170px;
        margin-top: 20px;
        padding: 10px;
    }

    .slick-prev {
        top: 280px;
        left: -8px;
    }

    .slick-next {
        right: -8px;
        bottom: 260px;
    }

    .about-urban {
        height: 450px;
        padding: 20px;
        margin-bottom: 0px;
    }

    .about-urban-box {
        width: 100%;
        height: 410px;
        flex-direction: column;
    }

    .about-urban-info {
        flex-direction: row;
        justify-content: inherit;
        align-items: inherit;
        border-bottom: 1px solid #231F20;
    }

    .about-urban-info:nth-child(4) {
        border-bottom: none;
    }

    .about-urban-box img {
        width: 40px;
        margin-bottom: 13px;
    }

    .learn-more {
        display: none;
    }

    .learn-more-img {
        display: block !important;
        margin-top: 13px;
    }
    .subscribe-box {
         width: 100%;
    }
    .subscribe form {
        width: 90%;
    }

    #subscribe-email {
        width: 100%;
    }

    .subscribe-bottom div {
        flex-direction: column;
        padding: 0px;
    }

    .subscribe-bottom div p {
        padding: 5px;
        margin-bottom: 0;
        width: 100%;
        text-align: end;
    }


    #phone-middle div {
        display: block !important;
    }

    .welcome-image {
        height: 280px;
        background-position: 100% 50%;

    }

    .welcome-shop .col-6:first-child {
        padding-right: 5px !important;
     }
     .welcome-shop .col-6:nth-child(2) {
        padding-left: 5px !important;
     }

     .design-image {
        width: 160px;
        height: 160px
    }

    .design-for-you h2 {
        font-size: 24px;
        margin-top: 25px;
    }

    #test {
        bottom: 109px !important;
        right: -20px !important;

    }

    #test1 {
        right: -10px !important;
        bottom: 240px !important;
    }

    #slick-shirt {
        margin-top:20px; padding: 0 15px;
    }

    #slick-shirt-img {
        height: 170px;
    }

    .spcial-price-row {
        width: 90%;
        margin: auto;
    }

    .slick2-left {
        left: -27px;
    }
     .img-div {
         height: 170px;
     }
     .subscribe-info img {
         width: 50px;
     }

     .subscribe-info h5 {
         font-size: 18px;
     }
     .product-cat {
        width: 170px;
    }
    .img-div-cat {
        width: 160px;
        margin: 6px;
    }

    #gift-left {
        top:40%;
    }
    
    #gift-right {
        right: 0px;
        bottom: 50%;
    }
    
}

